# Optimizing the **erg** of a given horse

In [6]:
# Getting the necessary inputs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('horseData.csv', low_memory=False)
print(f"Shape of dataset: {df.shape}")
df.head(10)

Shape of dataset: (69709, 24)

,name,form,rating,raw erg,erg,ems,grade,yob,sex,sire,...,ems3,grade4,bmSire,price,status,code,lot,vendor,purchaser,prev. price
0,America's Joy,UR,0,69,72,0,0,2018,F,American Pharoah,...,61,C1,Tricky Creek,8200000,Sold,KESEP,498.0,"Clarkland Farm, LLC","Whisper Hill Farm, Llc",NaN
1,Aussie Pride,W,86,80,71,0,0,2018,G,Curlin,...,57,C1,Lonhro,4100000,Sold,KESEP,274.0,"Eaton Sales, Agent for Stonestreet Bred & Raised",Godolphin,NaN
2,Lady Take Charge,UR,0,134,108,0,0,2015,F,War Front,...,68,C1,Dehere,3200000,Sold,KENOV,451.0,Eaton Sales,Whisper Hill Farm,NaN
3,Mendelssohn,G1w,101,73,73,0,0,2015,C,Scat Daddy,...,56,C1,Tricky Creek,3000000,Sold,KESEP,454.0,Clarkland Farm,M.V. Magnier,NaN
4,Serena's Harmony,UR,0,113,118,0,0,2014,F,Tapit,...,66,C1,Storm Cat,3000000,Sold,KENOV,402.0,Hill 'n' Dale Sales Agency,Bridlewood Farm,NaN
5,Brother in Arms,P,79,90,91,0,0,2018,G,War Front,...,57,C1,Proud Citizen,2900000,Sold,KESEP,258.0,"Brereton C. Jones/Airdrie Stud Inc., Agent",Godolphin,NaN
6,Sotto Voce,UR,0,83,85,0,0,2016,F,Tapit,...,55,C1,Beau Genius,2700000,Sold,KESEP,69.0,VanMeter0Gentry Sales,M.V. Magnier,NaN
7,Gun It,WG3p,97,150,150,0,0,2016,C,Tapit,...,79,C1,Medaglia d'Oro,2600000,Sold,KESEP,49.0,Taylor Made Sales Agency,Whisper Hill Farm,NaN
8,Declarationofpeace,LRw,85,127,118,0,0,2015,C,War Front,...,67,C1,Storm Cat,2600000,Sold,KENOV,423.0,Hill 'n' Dale Sales Agency,M.V. Magnier,NaN
9,Miss Besilu,WG1p,83,82,0,0,0,2011,F,Medaglia d'Oro,...,65,C1,Quiet American,2600000,Sold,KENOV,201.0,Dispersal of the Estate of Edw Evans,Besilu Stables,NaN

In [7]:
df.describe()

,rating,raw erg,erg,ems,yob,crop,ems3,lot
count,69709.000000,69709.000000,69709.000000,69709.00000,69709.000000,69709.000000,69709.000000,69700.000000
mean,46.905077,38.358074,29.334620,1.32399,2016.189617,5.769929,41.944197,1542.439067
std,33.542687,18.164239,22.698397,6.53363,3.130053,4.665506,9.456184,1250.247199
min,0.000000,3.000000,0.000000,0.00000,2009.000000,1.000000,5.000000,1.000000
25%,0.000000,25.000000,11.000000,0.00000,2014.000000,2.000000,36.000000,466.000000
50%,58.000000,36.000000,29.000000,0.00000,2016.000000,4.000000,42.000000,1160.000000
75%,74.000000,48.000000,44.000000,0.00000,2019.000000,9.000000,48.000000,2534.000000
max,126.000000,150.000000,150.000000,65.00000,2021.000000,24.000000,88.000000,4758.000000