# Dataset Exploration for augmentation/other data manipulation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from model.util import *
from imblearn.over_sampling import SMOTE, RandomOverSampler

In [4]:
# Import the dataset
cleanData, _ = preprocess_csv('data/horseData.csv')
cleanData.head()

Shape of dataset: (65150, 24)
number of unique names: 49908
number of unique sires: 50753
number of unique dams: 71785
number of unique bmSires: 73189

,name,form,rating,rawErg,erg,age,sire,fee,crop,dam,ems3,bmSire,damForm,name_encoded,sex_C,sex_F,sex_G,sex_R
1,Aussie Pride,2,86,80,71,8,49908,150000.0,9,50754,57,50107,4,0,0.0,0.0,1.0,0.0
3,Mendelssohn,4,101,73,73,11,49909,30000.0,7,50755,56,71786,0,1,1.0,0.0,0.0,0.0
5,Brother in Arms,1,79,90,91,8,49910,250000.0,11,50756,57,50091,4,2,0.0,0.0,1.0,0.0
7,Gun It,2,97,150,150,10,49911,300000.0,11,5,79,49912,3,3,1.0,0.0,0.0,0.0
8,Declarationofpeace,0,85,127,118,11,49910,150000.0,8,50757,67,71787,0,4,1.0,0.0,0.0,0.0

In [ ]:
# Analayze form rating
formCounts = cleanData['form'].value_counts()


# Visualize form rating distribution
plt.figure(figsize=(10,6))
sns.barplot(x=formCounts.index, y=formCounts.values, palette='viridis')
plt.title('Distribution of Horse Form Ratings')
plt.xlabel('Form Rating')
plt.ylabel('Number of Horses')
plt.show()

In [ ]:
# Attempting to balance the dataset using SMOTE
y = cleanData['form']
X = cleanData.drop(columns=['form', 'name'])

smote = SMOTE(random_state=42)
X_res, y_res = smote.fit_resample(X, y)

# Check the new distribution of form ratings
resampledFormCounts = y_res.value_counts()
plt.figure(figsize=(10,6))
sns.barplot(x=resampledFormCounts.index, y=resampledFormCounts.values, palette='viridis')
plt.title('Distribution of Horse Form Ratings After SMOTE')
plt.xlabel('Form Rating')
plt.ylabel('Number of Horses')
plt.show()

y_res